# .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
*.csproj.user

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# VS specific
.vs/
.vscode/

# User-specific files
*.userprefs

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# Temp directories
[Tt]emp/